html, body {
    height: 100%;
}

body {
    background-image: url(Untitled-2.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

* {
    font-family: Luminari, fantasy;
}
.content-block-main {
    display: flex;
    flex-flow: row nowrap;
    width: 1500px;
    height: 500px;
    background-color: #ffffff;
}
.content-block-left {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.content-block-right {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.image-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(fantasy\ bg.png);
    background-size: cover; 
    height: 100%;
    width: 100%;
    background-position: center;
    margin: 15px 30px 15px 0px;
    }

.input {
    width: auto;
}

.content-container-left {
    height: 100%;
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.logo-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
}

.email-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.password-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.remember-me-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.button-remember-me {
    width: 15px;
    height: 15px;
}

.text-remember-me {
    padding-left: 10px;
}

.pascal-is-retarded {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
}

.right-text-color {
    color: white;
    text-align: center;
   
}

.login-container {
    display: flex;
    justify-content: flex-start;
}

.welcome {
    font-size: 125%;
}

.button {
    width: 200px;
    height: 25px;
    border-radius: 15px;
    border-style: solid;
    background-image: linear-gradient( purple,blue);
    color: white;
}